[Unit]
Description=Run Trash Tasker Every Sunday
Wants=trash-tasker.timer
After=network.target

[Service]
Type=simple
ExecStart=/opt/trash-tasker/trash-tasker.sh
